{% extends "social/base.html" %}  
{% load crispy_forms_tags %} 
{% load static %} 

{% block content %}
<!-- {# START - code was developed with the help of documentation and other external research, please see referenced links. 
#} -->
<div class="container mt-5">
    <div class="row justify-content-center">
         <!-- Column for image -->
        <div class="col-md-4">
            <img src="{% static 'social/images/main_front_image.jpg' %}" alt="Your Image" class="img-fluid custom-image">
        </div>
        <!-- column for register form -->
        <div class="col-md-6 login-form"> 
            <div class="content-section">
                <!-- {# form for registration #} -->
                <!-- {# CSRF token for security #} -->
                <form method="POST"> 
                    {% csrf_token %}  
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Join Today</legend>
                        <!-- {# creates registration form using crispy forms #} -->
                        {{ form|crispy }} 
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a> 
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- {# References:
https://docs.djangoproject.com/en/3.2/topics/templates/#template-inheritance
https://django-crispy-forms.readthedocs.io/en/latest/
https://docs.djangoproject.com/en/3.2/howto/static-files/
https://docs.djangoproject.com/en/3.2/howto/static-files/#serving-static-files-during-development
https://docs.djangoproject.com/en/3.2/ref/csrf/
https://django-crispy-forms.readthedocs.io/en/latest/crispy_tag_forms.html
https://docs.djangoproject.com/en/3.2/ref/templates/builtins/#url
https://getbootstrap.com/docs/4.0/layout/grid/
https://bootstrapdocs.com/v3.3.5/docs/css/
https://stackoverflow.com/questions/72679289/how-to-fit-three-photos-col-4-each-beneath-one-image-with-a-col-12
https://www.w3schools.com/bootstrap4/bootstrap_grid_examples.asp
https://kasberger.github.io/projects/3_project/
#}
{# END - code was developed with the help of documentation and other external research, please see referenced links. 
    #} -->