{% extends "social/base.html" %} 

{% load crispy_forms_tags %} 

{% block content %}
<!-- START - code was developed with the help of documentation and other external research, please see referenced links. -->
    <div class="content-section ml-3">
         <!-- form to add a new status update -->
        <form method="POST" enctype="multipart/form-data">
            <!-- CSRF token for security -->
            {% csrf_token %} 

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Status Update</legend> 
                {{ form.content|as_crispy_field }}  <!-- display content field with crispy_forms -->
                {{ form.file|as_crispy_field }}     <!-- display file field with crispy_forms_tags -->

                {% if form.file.errors %} <!-- check for errors  -->
                    <div class="alert alert-danger">
                        {{ form.file.errors }} <!-- show errors -->
                    </div>
                {% endif %}

                {% if form.non_field_errors %} <!-- non-field errors -->
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }} <!-- show non-field errors -->
                    </div>
                {% endif %}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button> 
            </div>
        </form>
    </div>
{% endblock content %}


<!-- 
References: 
https://symfony.com/doc/current/security/csrf.html
https://laravel.com/docs/10.x/csrf
https://docs.spring.io/spring-security/reference/5.7-SNAPSHOT/servlet/exploits/csrf.html
https://www.stackhawk.com/blog/django-csrf-protection-guide/
https://stackoverflow.com/questions/16106127/symfony-2-delete-forms-and-csrf-token
https://stackoverflow.com/questions/27799985/spring-security-csrf-with-enctype-multipart-form-data

END - code was developed with the help of documentation and other external research, please see referenced links.
-->